.shaking {
  animation: shake 300ms ease;
}

@keyframes shake {
  10%,
  50%,
  90% {
    transform: translateX(0.5rem);
  }
  30%,
  70% {
    transform: translateX(-0.5rem);
  }
}

.mt-2 {
  margin-top: 0.5rem;
}
